{% extends "base.html" %}}

{% block content  %}

{% if 'userid' in session %}

<p>Logged in as <a href="/profile">{{ session['userid'] }}</a></p>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

{% else %}

	<a href="/login">Login</a>
	<a href="/register">Register</a>

{% endif %}

	<ul>
	{% for hostIP in hostIPs  %}

	<li>TIME: {{hostIP.timestamp}} IP: {{hostIP.ip}} MEAN RTT: {{hostIP.rtt}} JITTER: {{hostIP.jitter}}</li>

	{% endfor  %}
	</ul>

{% if error %}
	<div class="alert alert-danger" role="alert">{{ error  }}</div>
{% endif %}

	<form action="/" method="POST">
		<label>Host IP</label><input name="hostIP"></input>
		<input type="submit"></input>
	</form>
{% endblock %}
