{% extends "base.html" %}

{% block content %}

<h3>Networks</h3>
<ul>
    {% for network in user['networks'] %}
    <li>{{ network }}</li>
    {% else %}
    <li>No registered networks</li>
    {% endfor %}
</ul>

{% for error in get_flashed_messages() %}
<p style="color: red">{{ error }}</p>
{% endfor %}

<h3>Register Network</h3>
<form action="/register_network" method="post">
    <label>Hostname</label>
    <input name="hostname"></input>
    <button type="submit">Submit</button>
</form>

{% endblock %}
