{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Overview for {{ session['userid'] }}</h2>

  <h3>Networks</h3>
  <ul>
      {% for network in user['networks'] %}
      <li>{{ network }}</li>
      {% else %}
      <li>No registered networks</li>
      {% endfor %}
  </ul>

  {% for error in get_flashed_messages() %}
  <div class="alert alert-danger" role="alert">
  <strong><center>{{ error }}</center></strong>
</div>
  {% endfor %}

  <div class='well'>
    <h3>Register Network</h3>
    <form action="/register_network" method="post">
        <label>Hostname</label>
        <input name="hostname"></input>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
